body {
   background: black;
   font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
  
} 

.photos {
   text-align: center;
   margin: 10px;
}
.header {
   color: white;
  margin: 5%;

}
h2 {
   font-size: 30px;
   letter-spacing: 2px;
}
.logo{
   color: white;
   margin-top: 5%;
   margin-bottom: 5%;
   margin-left: 5%

}
.logo-fabric {
   text-align: center;

}

.products {
   text-align: center;
   margin-bottom: 20px;


}

.product-little {
   color: white;
   margin-top: 5%;
   margin-bottom: 5%;
   margin-left: 5%


}

